<form class="add-reminder--form" {{action formAction model on="submit"}}>
  <label>
    Title
    {{input class="spec-title-field" value=title}}
  </label>
  <label>
    Date
    {{input type="date" class="spec-date-field" value=date}}
  </label>
  <label>
    Notes
    {{textarea class="spec-notes-field" value=notes}}
  </label>
  <button class="spec-add-reminder">
    {{submitText}}
  </button>
    <button class="spec-discard-changes"
    {{action 'discardChanges' model}}>
    Discard Changes
  </button>
</form>

{{outlet}}
