<h1>remEMBER</h1>

{{#if model}}
  <ul>
    {{#each model as |reminder|}}
      <li class="spec-reminder-item">
        <h3>
          {{#link-to 'reminders.reminder'
            reminder
            class="spec-reminder-title" }}
            {{reminder.title}}
          {{/link-to}}
        </h3>
        {{#if reminder.hasDirtyAttributes}}
          <span class='reminder-saved-note'>
            *Reminder has not been saved
          </span>
        {{/if}}
        <p>
          {{reminder.date}}
        </p>
        <button class='spec-delete' {{action 'delete' reminder}}>
          Delete
        </button>
      </li>
    {{/each}}
  </ul>
{{else}}
  <section>
    <h1 class='spec-welcome'>
      WELCOME!!!
    </h1>
    <p>
      Click button below to create a reminder.
    </p>
  </section>
{{/if}}

<button>
  {{#link-to 'reminders.new'
    class='spec-link-new-reminder'}}
    Add Reminder
  {{/link-to}}
</button>

{{outlet}}
